[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
absl-py="*"
asgiref="*"
astunparse="*"
cachetools="*"
certifi="*"
charset-normalizer="*"
dj-database-url="*"
django-cors-headers="*"
django-heroku="*"
djangorestframework="*"
flatbuffers="*"
gast="*"
google-auth="*"
google-auth-oauthlib="*"
google-pasta="*"
grpcio="*"
gunicorn="*"
h5py="*"
idna="*"
importlib-metadata="*"
joblib="*"
keras="*"
Keras-Preprocessing="*"
libclang="*"
Markdown="*"
numpy="*"
oauthlib="*"
opt-einsum="*"
packaging="*"
pandas="*"
pickle4="*"
protobuf="*"
psycopg2="*"
pyasn1="*"
pyasn1-modules="*"
pyparsing="*"
python-dateutil="*"
pytz="*"
requests="*"
requests-oauthlib="*"
rsa="*"
scikit-learn="*"
scikit-learn-pipeline-utils="*"
scipy="*"
six="*"
sklearn="*"
sqlparse="*"
tensorboard="*"
tensorboard-data-server="*"
tensorboard-plugin-wit="*"
tensorflow="*"
tensorflow-estimator="*"
tensorflow-io-gcs-filesystem="*"
termcolor="*"
threadpoolctl="*"
typing_extensions="*"
urllib3="*"
Werkzeug="*"
whitenoise="*"
wrapt="*"
zipp="*"


[dev-packages]

[requires]
python_version = "3.7"
