[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url="*"
django-cors-headers="*"
django-heroku="*"
djangorestframework="*"
gunicorn="*"
importlib-metadata="*"
psycopg2="*"
python-dateutil="*"
requests="*"
requests-oauthlib="*"
urllib3="*"
whitenoise="*"
zipp="*"


[dev-packages]

[requires]
python_version = "3.7"
