[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url="*"
django-cors-headers="*"
django-heroku="*"
djangorestframework="*"
gunicorn="*"
importlib-metadata="*"
joblib="*"
numpy="*"
pandas="*"
pickle4="*"
psycopg2="*"
pyparsing="*"
python-dateutil="*"
requests="*"
requests-oauthlib="*"
rsa="*"
sqlparse="*"
typing_extensions="*"
urllib3="*"
whitenoise="*"
zipp="*"


[dev-packages]

[requires]
python_version = "3.7"
